<div class="container-fluid auth">
  <h1 class="text-center">Sign In</h1>

  <div id="big-form" class="well auth-box">
    <div id="error_explanation" class="text-center">
      <%= flash[:notice] %>
    </div>
    <%= form_for @user, url: sessions_path do |f| %>
        <% if @user.errors.any? %>
            <ul>
              <% @user.errors.full_messages.each do |message_error| %>
                  <li> <%= message_error %></li>
              <% end %>
            </ul>
        <% end %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>
        <div class="form-group text-center">
          <%= f.submit 'Submit'  %>
        </div>
    <% end %>
  </div>
</div>