<div class="flex-container">
<h1>Game To Aid Others</h1>
</div>
<div class="flex-container">
<a href="<%= new_user_path %>">Register</a>
</div>
<div class="flex-container">
  <h1>OR</h1>
</div>
<div class="flex-container">

  <% if flash[:notice] %>
      <%= flash[:notice] %>
  <% end %>

  <%= form_for @user, url: sessions_path do |f| %>
      <div>
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>
      <div>
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div>
        <%= f.submit 'Register' %>
      </div>
  <% end %>
</div>