<div class="container-fluid text-center">
  <h1>Game To Aid Others</h1>
  <h3>T.A.O get it?</h3>
  <button class="btn btn-default btn-lg"><a href="<%= new_user_path %>">Register</a></button>
  <h1>OR</h1>
</div>


<div class="container-fluid auth">
  <h1 class="text-center">Sign In</h1>

  <div id="big-form" class="well auth-box">
    <%= form_for @user, url: sessions_path do |f| %>
        <% if @user.errors.any? %>
            <ul>
              <% @user.errors.full_messages.each do |message_error| %>
                  <li> <%= message_error %></li>
              <% end %>
            </ul>
        <% end %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, class: "form-control text-center" %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control text-center" %>
        </div>
        <div class="form-group text-center">
          <%= f.submit 'Submit'  %>
        </div>
    <% end %>
  </div>
</div>
