<!DOCTYPE html>
<html>
<head>
  <title>Game TAO</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= csrf_meta_tags %>
</head>
<body data-controller="<%= controller_name %>" data-action="<%= action_name %>">
<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Game To Aid Others</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="<%= root_path %>">Home</a></li>
        <li class="active"><a href="<%= about_path %>">About</a></li>
        <li class="active"><a href="<%= user_games_path(params[:id] || 0) %>">Games</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="<%= new_session_path %>">Login</a></li>
        <% if session[:user_id] %>
            <li class="active"><a href="<%= session_path(session[:user_id]) %>">Logout</a></li>
        <% end %>
        <li class="active"><a href="<%= new_user_path %>">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
<% if flash[:base] %>
    <%= flash[:base] %>
<% end %>
<%= yield %>
</body>
</html>
